body {
    background-color: lightseagreen;
}

.titlecolor {
    color: blue;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.titlefont {
    font-family: fantasy;
}

.header {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Adds a little space above the footer */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 0 150px;
}

img {
    width: 200%;
    height: auto;
    margin-left: auto;
}

.centervid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body{
    background-color: lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 40px;
    padding: 10px;
}